<section class="working mb-4">
    <h2 class="working__heading mb-3">The Heat Pump Hot Water Advantage</h2>
    <div class="row">
        <div class="col-xl-3">
            <h3 class="working__sub-heading">Clean & Healthy Air</h3>
            <p>No in-home air pollution or greenhouse gas emissions</p>
        </div>
        <div class="col-xl-3">
            <h3 class="working__sub-heading">Clean & Healthy Air</h3>
            <p>No in-home air pollution or greenhouse gas emissions</p>
        </div>
        <div class="col-xl-3">
            <h3 class="working__sub-heading">Clean & Healthy Air</h3>
            <p>No in-home air pollution or greenhouse gas emissions</p>
        </div>
    </div>
</section>

<hr>

<section class="working">
    <h2 class="working__heading mb-3">How Hybrid Electric Water Heaters Work</h2>
    <tab-view [routeInfo]="routeInfo"></tab-view>
</section>
