@import 'src/_variables.scss';

.about {
    &__heading {
        font-size: 16px;
        color: $color-primary;
    }
    
    &__range {
        border-left: 1px solid $color-border;
        font-size: 12px;
    }
}

.emergency {
    &__feedback {
        color: $color-green;
    }
}

.active-tab {
    color: $color-white !important;
    background-color: $color-secondary !important;
    border-color: $color-secondary !important;
}