<div class="product rounded shadow">
    <header class="card__header d-flex justify-content-between align-items-center p-2 rounded-top">
      <div>
        <h1 class="product__manufacturer-name mb-0">{{productItem.manufacturer_name}}</h1>
        <span>Pro Prestige 50 LeakGuar</span>
      </div>
      <div>
        <label>3.4 of</label>
        <img class="mx-2" src="assets/info-tooltip.svg" alt="Info Icon" width="10" height="10">
        <img class="rounded" src="assets/Energy_Star_logo.svg.png" width="40px" height="40px" alt="Energy Star logo">
      </div>
    </header>

    <div class="card-body position-relative pb-4">
      <div class=" row img-and-highlight">
        <div class="col-xl-4 col-4">
          <img src="assets/img2.png" alt="Product" width="70px" height="auto">
        </div>
        <ul class="col-xl-7 col-7 offset-xl-1 highlight-list p-2">
          <li *ngFor="let highlight of productItem.est_highlight; let lastItem = last;" [class.mb-2]="!lastItem">{{highlight}}</li>
        </ul>
      </div>
      
      <hr>

      <div class="pricing-section">
        <div class="base-price d-flex justify-content-between">
          <span>Base Price</span>
          <span class="fw-normal"> ------------------------ </span>
          <span>{{productItem.base_price | currency}}</span>
        </div>
        <p class="sub-text mb-0">(Installation not included)</p>
        
        <div class="tax-price ms-3 d-flex justify-content-between">
          <span>
            Federal Tax Credit
            <img class="mx-1" src="assets/info-tooltip.svg" alt="Info Icon" width="10" height="10">
          </span>
          <span class="fw-normal"> ----------- </span>
          <span>{{'-300' | currency}}</span>
        </div>
        
        <div class="tax-price ms-3 d-flex justify-content-between">
          <span>
            Utility Incentives
            <img class="mx-1" src="assets/info-tooltip.svg" alt="Info Icon" width="10" height="10">
          </span>
          <span class="fw-normal"> ------------ </span>
          <span>{{'-1000' | currency}}</span>
        </div>
        
        <div class="equipment-cost d-flex justify-content-between">
          <span>
            Equipment Cost
            <img class="mx-1" src="assets/info-tooltip.svg" alt="Info Icon" width="10" height="10">
          </span>
          <span class="fw-normal"> ---------- </span>
          <span class="equipment-cost__amount">{{productItem.netCost | currency}}</span>
        </div>

        <div class="annual-saving my-3 p-2 rounded">
          Your Estimated Annual Savings is 
          <span class="annual-saving__amount fw-bold">{{productItem.est_annual_savings_cal | currency}}.</span>
        </div>

        <button type="button" class="btn btn-primary d-flex m-auto white-font mb-4">Get Install Quote</button>

        <button type="button" (click)="openDetailsModal(productItem.model_id)" class="btn position-absolute bottom-0 start-0 w-100 rounded-0 rounded-bottom view-more">
          View More Details
        </button>

      </div>
    </div>
</div>