@import 'src/_variables.scss';

.nav-link {
    color: $color-font;
    font-weight: 600;
    padding: 0.5rem 1.2rem;
    margin: 0 2rem;
    cursor: pointer;
    &.active {
        color: $color-black;
        border-bottom: 3px solid $color-primary;
    }
}