@import 'src/_variables.scss';

.nav-link {
    color: $color-font;
    font-weight: 600;
    cursor: pointer;
    
    &.active {
        color: $color-black;
        border-bottom: 3px solid $color-primary;
    }
}