$color-primary: #003963;
$color-secondary: #00B098;
$color-alert: #DD2200;
$color-background: #EEEEEE;
$color-stepper: #666666;
$color-font: #666666;
$color-font-secondary: #F68D39;
$color-white: #FFF;
$color-black: #000;
$color-border: #e9e9e9;
$color-green: #198754;
$color-link: #007fb6;
$color-link-hover: #0277aa;
$color-light-font: #cccccc;
$color-background-light: #f6f6f6;
